<head>
		<script type="text/javascript" src="glMatrix-0.9.5.min.js"></script>
		<script type="text/javascript" src="webgl-utils.js"></script>
		<script type="text/javascript" src="webGLGeneral.js"></script>
		<script type="text/javascript" src="cases.js"></script>
		<script type="text/javascript" src="ObjectManager.js"></script>
		<script type="text/javascript" src="shaderManager.js"></script>
		<script type="text/javascript" src="3DMaths.js"></script>
		<script id="shader-fs" type="x-shader/x-fragment">
		    precision mediump float;

		    varying vec4 vColor;

		    void main(void) {
		        gl_FragColor = vColor;
		    }
		</script>

		<script id="shader-vs" type="x-shader/x-vertex">
		    attribute vec3 aVertexPosition;
		    attribute vec4 aVertexColor;

		    uniform mat4 uMVMatrix;
		    uniform mat4 uPMatrix;

		    varying vec4 vColor;

		    void main(void) {
		        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
		        vColor = aVertexColor;
		    }
		</script>
		<script>
			webGLStart();
		</script>
</head>
<div style="float: right;">
	<h4 ng-show="user.token">
		Bienvenue à bord, {{ user }} !
	</h4>
	<a href="index.html#/user" ng-show="!user.token" class="btn btn-default">
		Connectez-vous !
	</a>
</div>
<h2>
	{{ message }}
</h2>
<br/>

<article ng-show="!currentExercise">
	<article ng-show="exercises.length" class="col-md-3 lesson-list">
		<a ng-repeat="exercise in exercises" class="btn btn-default" ng-click="showExercise(exercise)">{{ exercise.title }}</a>
	</article>
</article>

<article ng-show="currentExercise">
	<div class="row">
		<h3>
			<a class="btn btn-default" ng-click="showPanelExercise()" style="width:10%">{{ changeExerciseButton }}</a>
			{{ currentExercise.title }}
		</h3>
		<div class="row col-md-6">
<!-- 		<textarea class="col-md-12 col-sm-8" rows="5" cols="60" ng-model="user.inputs[currentExercise.value]"></textarea> -->
			<div id="editor" style=" min-height: 200px; border: solid 3px gray;"></div>
			<br/>
			<ul class="col-md-6 col-sm-4">
				<li class="btn btn-default btn-half" ng-click="saveExercise()">{{ saveExerciseButton }}</li>
				<li class="btn btn-default btn-half" ng-click="loadExercise()">{{ loadExerciseButton }}</li>
				<li class="btn btn-default" ng-click="eraseExercise()">{{ eraseExerciseButton }}</li>
				<li class="btn btn-default" ng-click="launchExercise()">{{ launchExerciseButton }}</li>
			</ul>
		</div>
		<div class="col-md-6">
			<p> {{ currentExercise.results }} </p>
			<canvas id="lesson04-canvas" style="border: none;" width="500" height="500"></canvas>
			<p> {{ inputs }} </p>
		</div>
	</div>
</article>