<h2>
	{{ message }}
</h2>

<article ng-show="!user.Email">
	<ul class="user-form col-md-6">
		<li><h4> {{ login }} </h4></li>
		<li>
			<input class="btn-form" type=EMAiL ng-model="loginInfo.Email" placeholder="Email"/>
		</li>
		<li>
			<input class="btn-form" type=PASSWORD ng-model="loginInfo.Password" placeholder="Password"/>
		</li>
		<li>
			<div class="btn btn-default btn-form" ng-click="login_user()">Submit</div>
		</li>
	</ul>
	<ul class="user-form col-md-6">
		<li><h4> {{ register }} </h4></li>
		<li>
			<input class="btn-form" type=TEXT ng-model="newUser.Pseudo" placeholder="Pseudo"/>
		</li>
		<li>
			<input class="btn-form" type=PASSWORD ng-model="newUser.Password" placeholder="Password"/>
		</li>
		<li>
			<input class="btn-form" type=EMAIL ng-model="newUser.Email" placeholder="Email"/>
		</li>
		<li>
			<input class="btn-form" type=TEXT ng-model="newUser.FirstName" placeholder="FirstName"/>
		</li>
		<li>
			<input class="btn-form" type=TEXT ng-model="newUser.Name" placeholder="Name"/>
		</li>
		<li>
			<div class="btn btn-default btn-form" ng-click="create_user()">Submit</div>
		</li>
	</ul>
</article>
<article ng-show="user.Email">
	<p> bonjour {{ user.Email }} </p>
	<ul class="user-form col-md-6">
		<li><h4> {{ edit }} </h4></li>
		<li>
			<input class="btn-form" type=PASSWORD ng-model="user.Password" placeholder="Password"/>
		</li>
		<li>
			<input class="btn-form" type=EMAIL ng-model="user.Email" placeholder="Email"/>
		</li>
		<li>
			<input class="btn-form" type=TEXT ng-model="user.FirstName" placeholder="FirstName"/>
		</li>
		<li>
			<input class="btn-form" type=TEXT ng-model="user.Name" placeholder="Name"/>
		</li>
		<li>
			<div class="btn btn-default btn-form" ng-click="edit_user_info()">Submit</div>
		</li>
		<li>
			<div class="btn btn-default btn-form" ng-click="logout_user()">Logoff</div>
		</li>
	</ul>
</article>